body {
    background-color: lightblue;
    margin: 0;
}

#paisaje {
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid gray;
    background: #00BFFF;
    margin: 30px auto;
    overflow: hidden;
}

.objeto {
    position: absolute;
}

#sol {
    top: 45px;
    right: 70px;
}

#nevado {
    bottom: -17px;
    left: -17px;
}

#nevado2 {
    bottom: -17px;
    right: -30px;
}

#bici {
    bottom: -25px;
    left: 350px;
    z-index: 1;
}

#arbol {
    right: 80px;
    bottom: -4px;
    z-index: 2;
}

#nube {
    top: 50px;
    left: 20px; 
    z-index: 2; /* Put nube above background? */
}

/* --- BLOQUE MISTERIOSO --- */
/* Top 330px */
#bloque {
    top: 330px;
    left: 375px;
    width: 50px;
    height: 50px;
    background: #FFD700;
    border: 4px solid #B8860B;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    color: #B8860B;
    z-index: 5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* --- HONGO --- */
/* --- HONGO aka ESTRELLITA --- */
#hongo {
    width: 40px;
    height: 40px;
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    top: 335px;
    left: 380px;
    z-index: 4;
    display: none;
}

/* --- MARIO --- */
#mario {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0px;
    left: 50px;
    z-index: 10;
    transition: transform 0.1s;
    /* Soft turn */
    transform-origin: bottom center;
    /* Crece desde el suelo */
}